* {
    margin: 0 5px;
    /* margin-top: 30px; */
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    /* font-size: 35px; */
}

.container {
    height: 100vh;
    /* margin: 0;
    padding: 0; */
}

.header {
    height: 10%;
    /* border: 4px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 4vw;
}

.header__menu {
    display: flex;
    flex-direction: row;
    font-size: 2.5vw;
    gap: 15px;
}

.main {
    height: 80%;
    /* border: 4px solid red; */
    display: flex;
    flex-direction: row;
}

.main__image {
    background-image: url('./images/suit-869380-min.jpg');
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    width: 50%;
    /* border: 2px solid red; */
}

.main__text {
    width: 50%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__text-1 {
    font-size: 10vw;
}

.main__text-2, .main__text-3, .main__text-4 {
    font-size: 5vw;
}

.footer {
    height: 10%;
    /* border: 4px solid darkblue; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10%;;
    gap: 20px;
}

.footer__dribbble > img, .footer__github > img, .footer__linkedln > img, .footer__behance > img {
    width: 5.3vw;
}

#size {
    /* border: 4px solid rgb(0, 255, 149); */
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    color: red;
}

/* Order of media queries should be evaulated from largest to smallest */

/* desktop: 1200px */
@media (max-width: 1200px) {
    .container {
        background-color: rgb(30, 130, 133);
    }
     
}


/* laptop: 992px */
@media (max-width: 992px) {
    .container {
        background-color: rgb(145, 150, 163);
    }
     
}


/* tablet: 768px */
@media (max-width: 768px) {
    .container {
        background-color: rgb(161, 149, 160);
    }
     
}

/* mobile: 576px */
@media (max-width: 650px) {

    .container {
        background-color: #ffffff;
    }
    
    .header {
        justify-content: center;
    }

    .header__logo {
        font-size: 40px;
    }

    .header__menu {
        display: none;
    }

    .main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .main__image {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        background-size: 100%;
        background-position: center;
    }
    
    .main__text {
        width: 100%;
    }

    .main__text-1 {
        display: none;
    }

    .main__text-2, .main__text-3, .main__text-4 {
        font-size: 30px;
    }
        
    .footer {
        justify-content: center;
        margin: 0px;
    }
    
    .footer__dribbble > img, .footer__github > img, .footer__linkedln > img, .footer__behance > img {
        width: 45px;
        height: 45px;
    }
}


/* List of common breakpoints
1920×1080
1366×768
360×640
414×896
1536×864
375×667

Bootstrap breakpoints
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }

Another recommendation for 4 devices:
mobile: 576px
tablet: 768px
laptop: 992px
desktop: 1200px
*/